h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 3.68em;
    line-height: 150%;
  }
h2{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
h3{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
h5{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
h6{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Roboto', sans-serif;
    color:darkslategray;
    font-weight: bold;
    
    line-height: 150%;
}